#addproducts{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 2rem;
    overflow: hidden;
}


/* General section start */

#general{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    /* Basic info part  */
.basic-info{
    width: 65%;
    height: 70vh;
    background-color: #ffffff;
    margin: 1rem;
    border-radius: 2rem;
    padding: 2rem 3rem;
    -webkit-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
        -moz-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
        box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0.5);
}
.basic-info h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.astricred{
    color: red;
}
.general{
    display: flex;
    flex-direction: column;
}
._productName{
    margin-bottom: 2rem;
}
._productName label{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.general__input{
    outline: none;
    border: 1px solid rgb(185, 185, 185);
    padding: 0.5rem 2rem;
    border-radius: 7px ;
}
._description label{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
} 
._description textarea{
    padding: 1.5rem;
}

 /* category part */
._category{
    margin-top: 1.5rem;
}
 .dropbtn {
    margin-top: 1rem;
     padding: 1rem;
     font-size: 1rem;
    border: 1px solid rgb(185, 185, 185);
     cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5px;
 }

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropdown-content a:hover {
     background-color: #f1f1f1
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 /* media upload part */
.media{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.media-upload{
    background-color:#ffffff;
    height: 40vh;
    border-radius: 2rem;
    margin: 1rem;
    -webkit-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
    -moz-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
    box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0.5);
    padding: 1.5rem 2rem;

}
.media-upload h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.upload_container{
    width: 100%;
    height: 80%;
    border: 2px dotted dodgerblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-image: url(../../assests/general/media_upload.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding: 2rem 0rem 0rem 2rem;
}
::-webkit-file-upload-button{
    display: none ;
}
::-webkit-input-placeholder{
    display: none;
}
.media-empty{
    height: 25vh;
    display: none;
    background-color:#ffffff;
    border-radius: 2rem;
    margin-top: 0rem;
    margin: 1rem;
    -webkit-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
        -moz-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
        box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0.5);
}

/* General section end....  */

/* Shipping section starts... */

#shipping{
    height: 70vh;
    width: 100%;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    -webkit-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
    -moz-box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0);
    box-shadow: 8px 9px 20px -4px rgba(145, 138, 145, 0.5);
}
#shipping h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shipping_container_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-around;
}
.shipping-height{
    display: flex;
    flex-direction: row;
}
.shipping-width {
    display: flex;
    flex-direction: row;
}
.shipping-height label{
    font-size: 1.2rem;
    padding-right: 0.5rem;
}
.shipping-width label {
    font-size: 1.2rem;
    padding-right: 0.5rem;
}
.s-height{
    margin-right: 0.5rem;
}

