#changePassword{
    width: 67vw;
    height: 80vh;
}
#changePassword h1{
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2.5rem;
}

.astricred {
    color: red;
}

.basic-input {
    outline: none;
    border: 1px solid rgb(185, 185, 185);
    padding: 0.7rem 2rem;
    border-radius: 7px;
}
.cp{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 55%;
    padding: 0rem 3rem;
    justify-content: space-evenly;
}
.cp-container{
    display: flex;
    flex-direction: column;

}
.cp-container label{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.8rem 0rem;
}

.Update-password{
    width: 40%;
    background-color: rgb(30, 143, 255);
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    margin: 3rem 0rem;
    border-radius: 0.8rem;
}